<div class='row' ng-controller='clinics'>

	<div class="row">
		<div class="eight columns">
			<img src="/uploads/{{profile.pic_link}}" />
		</div>
		<div class="four columns">
			<img src="/uploads/{{profile.logo_link}}" />
			<h2>{{profile.name}}</h2>
			<b>{{profile.email}} | {{profile.phone_number}} | {{profile.city}}</b>
			<p>{{profile.description}}</p>
		</div>
	</div>
	<br />
	<div class="row panel">
		<form>
			<div class="ten columns">
				<input type='text' ng-model='user.serial_number' name='user.serial_number' placeholder='Serial Number' />
			</div>
			<div class="two columns">
				<button ng-click='searchButton()' class="button">Search</button>
			</div>
		</form>
	</div>

	<br />

	<div class="row" ng-show='errorMsg'>
		<div class="twelve columns alert-box">
			{{theMsg}} <span style='float:right;' ng-click='errorMsgClose()'>&times;</span>
		</div>
	</div>

	<br />

	<div ng-show='message' class="row panel">
		<div class="six columns" ng-model='search'>
			<span><img class="th" style="width:100%;" src="/uploads/{{search.img_link}}" /></span>
		</div>

		<div class="six columns">
			<p>
				Name => {{search.first_name}} {{search.last_name}}<br />
				Nationality => {{search.nationality}}<br />
				Email => {{search.email}}<br />
				Balance => <b>{{search.balance}}</b>
			</p>
			<span colspan="5" ng-show='showCost'>
				<input type="text" name="cost" ng-model="cost" placeholder='Cost'/>
			</span>
			<span colspan="5" ng-show='showDiagnosis'>
				<textarea name='diagnosis' ng-model='diagnosis' placeholder='case'></textarea>
			</span>
			<span colspan="5" ng-show='showLowBalance'>
				<h5>Kindly , advice {{search.first_name}} to renew the subscription</h5>
			</span>
			<button ng-show='ShowCheckIn' ng-click='register()' class="button">Register</button>
			<button ng-click='cancel()' class="button">Cancel</button>
		</div>

	</div>

	<br />


	<div class="row">
		<table class="twelve">
			<thead>
				<tr>
					<th>Full Name</th>
					<th>Nationality</th>
					<th>Birthdate</th>
					<th>Mobile</th>
					<th>Email</th>
				</tr>
			</thead>
			<tr ng-repeat='info in customers'>
				<td>{{info.first_name}} {{info.last_name}}</td>
				<td>{{info.nationality}}</td>
				<td>{{info.birthdate}}</td>
				<td>{{info.mobile_number}}</td>
				<td>{{info.email}}</td>
			</tr>
		</table>
	</div>

</div>