<div class='row' ng-controller='logIn'>

	<div class="row">
		<div class="six columns centered">
			<div class="panel">
				<h3 align="center">LogIn</h3>
			</div>
		</div>
	</div>

	<div class="row">
	  	<div class='six columns centered'>
	  		<div data-ng-show="errorMsg">
	  			<div data-alert class="alert-box">
	  				Wrong Email/Password combination!
	  			</div>
	  		</div>

	  		<div data-ng-show="loggedIn">
	  			<div data-alert class="alert-box">
	  				You are already logged in! . Click <a style="color:#ffffff;" data-ng-click='logout()'><i><b>here</b></i></a> to logout!
	  			</div>	
	  		</div>

	  		<div class="panel" data-ng-show="loginBox">
				<form name="form" novalidate>
					<input type="email" ng-model='email' placeholder="Email " required />
					<input ng-mode='password' type="password" ng-model="password" placeholder="Password" required />
					<button ng-disabled = 'form.$invalid' class="button" ng-click="login()">Login</button>
				</form>
	  		</div>

		</div>		
	</div>

</div>