#logo
{
     text-align:center;
}

form[novalidate] input {
	border-left-width: 8px;
	border-color: #3498db;
	border-style: solid;
}

input[required].ng-pristine{
	border-color: gray;
}

input.ng-invalid.ng-dirty{
	border-color: #e74c3c;
}

input.ng-valid.ng-dirty{
	border-color: #2ecc71;
}