<div ng-controller='users'>

	<div class="row">
		<div class='eight columns centered panel' ng-model='user'>
			<div class="row">
				<div class="two columns">
					<img style="text-align:center;" src="img/logo.png">
				</div>
				<div class="ten columns">
					<h5>Dentus - User identity card</h5>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="six columns">
					<img src="uploads/{{user.img_link}}">
				</div>
				<div class="six columns">
					<h5>{{user.first_name}} {{user.last_name}}</h5>
					<h5>{{user.email}} </h5>
					<h5>Balance: {{user.balance}}</h5>
					<h5>#{{user.serial_number}}</h5>
					<p>Expiration Date : {{user.created_at}}</p>
				</div>
			</div>
		</div>	
	</div>

	<br />

	<div class="row">
		<div class="eight columns centered panel"  ng-model='clinics'>
			<table class="twelve">
				<thead>
					<tr>
						<th>Diagnosis</th>
						<th>Cost</th>
						<th>Date</th>
					</tr>
				</thead>

				<tbody ng-repeat="info in clinics">
					<tr>
						<td>{{info.diagnosis}}</td>
						<td>{{info.cost}}</td>
						<td>{{info.created_at}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>